.about{
    background-color: blanchedalmond;
}
p{
    background-color: hotpink;
    border-radius: 50%;
    margin: vh;
    
    padding :6vmax
}
h3{
    font-family: 'Times New Roman', Times, serif;
}.a1 div{
    background-color: lightblue;
    border-radius: 50%;
    margin: 2vw;
   
    padding-left: 60%;
    padding-right: 60%;
}
.a2 div{
    background-color: lightblue;
    border-radius: 50%;
    margin: 2vw;
    padding-left: 60%;
    padding-right: 60%;

}.a1{
    transform: translateX(5%);
}.a2{
    transform: translateX(-5%);
}