.col-6 {
    margin-top: 0px;
    padding: 2vh;
    background-color: red;
}
.r1 div{
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    
    width: 100%;
}
.r2 div{
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 100%;
}
.dark-mode {
    background-color: #222 !important ;
    color: #fff !important ;
    min-height: 100vh;
    min-width: 10vw;
   
}
.dark-mode .col-6{
    background-color: #777 ;
    color: #fff ;
    border: 1px solid white;
}.home{
    background-color: lightcyan;
    width: 100vw;
    height:100vh;
    
}.dark-mode .contact-info h3 {
    color: #111 !important;
}Link{
    text-decoration: none;
}.r1{
    transform: translateX(5%);
}.r2{
    transform: translateX(-5%);
}.ab{
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    margin: 20px;
}.ab1{
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    margin: 20px;
    transform: translateX(50%);
}